.rdt_TableHeader div {
  box-sizing: border-box;
  padding-top: 50px;
  display: block;
  margin: 0 auto;
  width: 98%;
}

.DataTable {
  box-sizing: border-box;
  max-width: 50%;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  text-align: left;
}

.KeyName {
  color: #aeaeae;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
}

.COS_name_Column {
  color: red;
  font-weight: bold;
}

.Price {
  width: 75px;
  text-align: right;
}

.MarketCap {
  width: 55px;
  text-align: right;
}

.MinusFluctateRate {
  color: blue;
  width: 65px;
  margin: 0 auto;
  text-align: right;
}

.PlusFluctateRate {
  color: red;
  width: 65px;
  margin: 0 auto;
  text-align: right;
}

.ZeroFluctateRate {
  width: 65px;
  margin: 0 auto;
  text-align: right;
}

.SmallPrice {
  font-size: 11px;
  width: 55px;
  margin: 0 auto;
  text-align: right;
}

.ExpandedComponent {
  background-color: #f9f9f9;
  font-size: 13px;
  height: 400px;
  text-align: left;
  vertical-align: middle;
  box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .DataTable {
    max-width: 80%;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .DataTable {
    max-width: 80%;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .DataTable {
    max-width: 100%;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .Title {
    font-size: 20px;
  }
  .DataTable {
    max-width: 100%;
  }
  .DataTable div {
    font-size: 11px;
  }
  .SmallPrice {
    font-size: 8px;
  }
}
