.Chart {
  width: 100%;
  height: 350px;
}

.timer_wrapper2 {
  float: right;
}

.checkboxWrapper {
  margin-left: 16px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .Chart {
    height: 300px;
  }
}
